body {
  @apply font-sans text-gray-700;
}

a:hover {
  @apply underline;
}

.cc-header {
  @apply mb-2;
  @apply font-medium;
}

.cc-header-with-border {
  @apply cc-header border-b-2 border-gray-100;
}

.cc-link {
  @apply text-purple-600;

  &:hover {
    @apply underline;
  }
}

.cc-flatten-p {
  p {
    @apply my-0;
    & + p {
      @apply mt-2;
    }
  }
}

.s-8 {
  @apply inline-block w-8 h-8;
}

.svg-link {
  @apply s-8;

  :hover {
    @apply text-purple-500;
  }
}